name: Synchronize Repositories

on:
  # action can be manually triggered
  workflow_dispatch:
  # action is triggered on push to the following paths
  push:
    paths:
      - "templates/**"
      - "scripts/sync*"
      - "package.json"
      - ".github/workflows/sync.yml"
    branches:
      - master

jobs:
  milestone:
    name: Synchronize Repositories
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - uses: webfactory/ssh-agent@v0.4.1
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
      - run: |
          source ./scripts/sync.sh
          install_dependencies_on_ci
          configure_git_on_ci
          workspace=$(create_workspace)
          replicate_all "$workspace" "keep"
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN_AENEASR }}
