name: Test

on:
  pull_request:
    types: [opened, reopened]
  push:

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: make test
      - run: |
          source ./scripts/sync.sh
          install_dependencies_on_ci
          configure_git_on_ci
          workspace=$(create_workspace)
          replicate_all "$workspace" "commit"
