name: Text runner checks

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  run-text-runner:
    runs-on: ubuntu-latest
    name: Text runner
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "15"
      - run: npm ci
      - run: npm run text-run
